
.jumbotron {

  margin-bottom: 0px;
}

.compositions-header {
  font-family: Roboto Mono, monospace;
  font-size: 48px;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  display: block;
  word-wrap: break-word;
  margin-left: 24px;
  text-overflow: ellipsis;
  margin-right: 24px;


}

.author {
  color: #3F51B5;
  float: right;
  font-style: oblique;
  opacity: 0.8;
  margin-right: 24px;
}

.composition-description {
  font-size: 16px;
  margin-right: 32px;
  margin-left: 32px;
  display: block;
  word-wrap: break-word;
  text-overflow: ellipsis;

}

.divider {
  margin-top: 12px;
  margin-bottom: 12px;
}

.genre-header {
  color: #3F51B5;
  font-weight: 500;
  font-size: 16px;
  margin-left: 24px;
}

.description-header {

  color: #3F51B5;
  font-weight: 500;
  margin-left: 24px;
}

.genre-name {
  font-style: oblique;
}

.chapter-icon {
  float: left;
  font-size: 36px;
}

.chapter-name {
  font-style: oblique;
  font-weight: 500;


}

.start-reading-button-div {
  text-align: center;
  margin-bottom: 36px;
}

.start-reading-button {
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.comment-input {
  width: 100%;
}

.send-comment-button {
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: center;
}

.tags {
  margin-top: 12px;
}

.content-header {
  color: #3F51B5;
  font-weight: 500;
}

.comment-img-profile {
  float: left;
  width: 45px;
  height: 45px;
  margin-right: 12px;
}

.comment-author {
  font-weight: 500;
  font-size: 24px;

}

.comment-text {
  font-size: 14px;
  margin-left: 57px;
  white-space: pre-wrap;
}

.comments-header {
  color: #3F51B5;
  font-weight: 500;
  margin-left: 24px;
  font-size: 24px;
  margin-bottom: 12px;
}

.author-name-onimage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f7f7f7;
  font-size: 24px;


}

.add-comment-btn {
  float: right;
  width: 45px;
  height: 45px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.comment-area {
  width: 100%;


}

.publicate-comment {
  float: right;
  display: inline;
}

.cancel-button {
  text-align: left;

}

