<div class="container " *ngIf="route.children.length === 0">

  <mat-vertical-stepper [linear]="!isLinear" #stepper id="stepper">

    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>{{"New Composition.Title"|translate}}</ng-template>
        <mat-form-field class="full-width">
          <mat-label>{{"New Composition.Title"|translate}}</mat-label>
          <input #title
                 matInput placeholder="{{'New Composition.Title'| translate}}"
                 formControlName="firstCtrl"
                 required [(ngModel)]="form.title"
                 maxlength="100"
          >
          <mat-hint align="end">{{title.value.length}} / 100</mat-hint>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>{{"New Composition.Next"|translate}}</button>
        </div>
      </form>

    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>{{"New Composition.Description"|translate}}</ng-template>
        <mat-form-field class="full-width">
          <mat-label>{{"New Composition.Description"|translate}}</mat-label>
          <textarea maxlength="510" #description matInput formControlName="secondCtrl"
                    placeholder="{{'New Composition.Description'| translate}}"
                    required [(ngModel)]="form.description"></textarea>
          <mat-hint align="end">{{description.value.length}} / 510</mat-hint>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>{{"New Composition.Back"|translate}}</button>
          <button mat-button matStepperNext>{{"New Composition.Next"|translate}}</button>
        </div>
      </form>
    </mat-step>


    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>{{"New Composition.Genres"|translate}}</ng-template>
        <mat-form-field class="full-width">
          <mat-label>{{"New Composition.Genres"|translate}}</mat-label>
          <mat-select multiple formControlName="thirdCtrl" [(ngModel)]="form.compositionGenres">
            <mat-option *ngFor="let genre of allGenres" [value]="genre">{{genre}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>{{"New Composition.Back"|translate}}</button>
          <button mat-button matStepperNext>{{"New Composition.Next"|translate}}</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>{{"New Composition.Done"|translate}}</ng-template>
      <p>{{"New Composition.You are now done."|translate}}</p>
      <div>
        <button mat-button matStepperPrevious>{{"New Composition.Back"|translate}}</button>
        <button mat-button (click)="stepper.reset()">{{"New Composition.Reset"|translate}}</button>


        <button mat-button (click)='onSubmit()' id="toChapters">{{value|translate}}</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>


</div>


<router-outlet></router-outlet>

