<div class="app">
  <nav class="navbar navbar-expand navbar-dark toolbar">
    <a href="/home" class="navbar-brand">
      <img
        src="https://cdn3.iconfinder.com/data/icons/multimedia-49/480/media_multimedia_audio_video_music_-_36-512.png"
        style="width:30px; height: 30px;filter: invert(100%);">Fan Fiction</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <button mat-flat-button color="primary" class="toolbar-option"
                routerLink="home">{{"MainComponent.Home"|translate}}</button>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <button mat-flat-button color="primary" class="toolbar-option"
                routerLink="admin">{{"MainComponent.Admin Board"|translate}}</button>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <button mat-flat-button color="primary" class="toolbar-option"
                routerLink="newcomposition">{{"MainComponent.New Composition"|translate}}
        </button>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li class="search-li" [hidden]="true">

        <input class="search-input"
               type="text"
               placeholder="{{'MainComponent.Search'| translate}}"
               matInput
               [(ngModel)]="searchRequest"
               [matAutocomplete]="auto"
               (ngModelChange)="search()">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" class="mat-autocomplete-panel">

          <mat-option *ngFor="let composition of searchResult" [value]="composition.title"
                      (click)="readComposition(composition.id)">
            <mat-icon>book</mat-icon>
            {{composition.title}}
          </mat-option>
        </mat-autocomplete>

      </li>


    </ul>

    <button mat-button (click)="openSearchPanel()" class="search-icon">
      <mat-icon>search</mat-icon>
    </button>

    <button mat-flat-button color="primary" class="toolbar-option" mat-button [matMenuTriggerFor]="menu">
      <mat-icon>language</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let lang of translate.getLangs()"
              (click)="setLanguage(lang)">{{lang|translate}}</button>
    </mat-menu>

    <ul class="navbar-nav" *ngIf="!isLoggedIn">

      <li class="nav-item">
        <button mat-flat-button color="primary" class="toolbar-option"
                routerLink="register">{{"MainComponent.Sign Up"|translate}}</button>

      </li>
      <li class="nav-item">
        <button mat-flat-button color="primary" class="toolbar-option"
                routerLink="login">{{"MainComponent.Login"|translate}}</button>

      </li>
    </ul>

    <ul class="navbar-nav" *ngIf="isLoggedIn">

      <li class="nav-item">
        <button mat-flat-button color="primary" class="toolbar-option"
                routerLink="profile/{{userId}}">{{ username }}</button>

      </li>
      <li class="nav-item">
        <button mat-flat-button color="primary" (click)="logout()"
                class="toolbar-option">{{"MainComponent.Logout"|translate}}</button>
      </li>
    </ul>
    <mat-slide-toggle [(ngModel)]="darkMode" (click)="onSetTheme(darkMode)"></mat-slide-toggle>
    <mat-icon *ngIf="darkMode" >brightness_3</mat-icon>
    <mat-icon *ngIf="!darkMode" style="color:white" >wb_sunny</mat-icon>




  </nav>


  <router-outlet></router-outlet>

</div>
